<a href="https://colab.research.google.com/github/khansadinda14/TUGAS-BESAR/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
y

Data Akhir:
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+
|    | PassengerId                                                                                        |   Survived |   Pclass |   Name |   Sex |   Age |   SibSp |   Parch |   Ticket |   Fare |   Cabin |   Embarked |
|----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------|
|  0 | 1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S                                    |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  1 | 2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  2 | 3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S                           |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  3 | 4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S            |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  4 | 5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S                                      |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+

NameError: name 'y' is not defined

**TITANIC DATASET**

Titanic Dataset merupakan suatu kumpulan data yang berisi mengenai informasi kapal RMS Titanic yang tenggelam sejak 15 April 1912. Kapal tersebut memakan banyak korban jiwa.

Fitur-Fitur yang terdapat di Titanic dataset sebagai berikut:


1.   Passenger ID
2.   Name
3.   Sex
4.   Age
5.   PClass
6.   Survived
7.   SibSP
8.   Tiket
9.   Fare
10.  Cabin
11.  Embarked

In [ ]:
def menghapus_outlier(df):
    print("\n-- Menghapus Outlier --")

    # Menampilkan tabel sebelum penghapusan outlier
    print("Sebelum penghapusan outlier:")
    print(tabulate(df.head(), headers='keys', tablefmt='psql'))

    # Mengidentifikasi outlier menggunakan metode IQR
    Q1 = df[['Age', 'Fare']].quantile(0.35)
    Q3 = df[['Age', 'Fare']].quantile(0.90)
    IQR = Q3 - Q1

    # Mendefinisikan batas bawah dan batas atas untuk outlier
    batas_bawah = Q1 - 3.5 * IQR
    batas_atas = Q3 + 3.5 * IQR

    # Menghapus outlier
    df = df[~((df[['Age', 'Fare']] < batas_bawah) | (df[['Age', 'Fare']] > batas_atas)).any(axis=1)]

    # Menampilkan tabel setelah penghapusan outlier
    print("Tampilan Setelah penghapusan outlier:")
    print(tabulate(df.head(), headers='keys', tablefmt='psql'))

    print(f"Jumlah Baris Setelah: {df.shape[0]}")
    return df

df_Titanic_dataset = hapus_outlier(df_Titanic_dataset)

-- Menghapus Outlier --
Sebelum penghapusan outlier:
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+
|    | PassengerId                                                                                        |   Survived |   Pclass |   Name |   Sex |   Age |   SibSp |   Parch |   Ticket |   Fare |   Cabin |   Embarked |
|----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------|
|  0 | 1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S                                    |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  1 | 2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  2 | 3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S                           |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  3 | 4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S            |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  4 | 5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S                                      |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+
Setelah penghapusan outlier:
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+
|    | PassengerId                                                                                        |   Survived |   Pclass |   Name |   Sex |   Age |   SibSp |   Parch |   Ticket |   Fare |   Cabin |   Embarked |
|----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------|
|  0 | 1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S                                    |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  1 | 2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  2 | 3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S                           |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  3 | 4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S            |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  4 | 5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S                                      |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+
Jumlah Baris Setelah: 891

Menampilkan tampilan sebelum dan sesudah dilakukannya outlier. sesudah dilakukan nya outlier jumlah baris nya 891.

In [ ]:
import pandas as pd
from tabulate import tabulate

import pandas as pd
from tabulate import tabulate

# Mengimpor Titanic dataset
url = '/content/Titanic dataset.csv'
df_Titanic_dataset = pd.read_csv(url)

# Tampilkan data awal
print("Data Awal:")
print(tabulate(df_Titanic_dataset.head(), headers='keys', tablefmt='psql'))

Data Awal:
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+
|    | PassengerId                                                                                        |   Survived |   Pclass |   Name |   Sex |   Age |   SibSp |   Parch |   Ticket |   Fare |   Cabin |   Embarked |
|----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------|
|  0 | 1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S                                    |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  1 | 2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  2 | 3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S                           |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  3 | 4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S            |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  4 | 5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S                                      |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+

Hasil:
Dataset yang diimpor data awal terdiri dari 892 baris dan 13 kolom.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Mengimpor Titanic dataset
url = '/content/Titanic dataset.csv'
df_Titanic_dataset = pd.read_csv(url)

def normalisasi_data(df):
    print("\n-- Normalisasi Data --")
    scaler = MinMaxScaler()

    kolom_normalisasi = ['Age', 'Fare']
    df[kolom_normalisasi] = scaler.fit_transform(df[kolom_normalisasi])

    print("Data setelah normalisasi:")
    print(tabulate(df.head(), headers='keys', tablefmt='psql'))
    return df

df_Titanic_dataset = normalisasi_data(df_Titanic_dataset)

-- Normalisasi Data --
Data setelah normalisasi:
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+
|    | PassengerId                                                                                        |   Survived |   Pclass |   Name |   Sex |   Age |   SibSp |   Parch |   Ticket |   Fare |   Cabin |   Embarked |
|----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------|
|  0 | 1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S                                    |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  1 | 2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  2 | 3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S                           |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  3 | 4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S            |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
|  4 | 5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S                                      |        nan |      nan |    nan |   nan |   nan |     nan |     nan |      nan |    nan |     nan |        nan |
+----+----------------------------------------------------------------------------------------------------+------------+----------+--------+-------+-------+---------+---------+----------+--------+---------+------------+

/usr/local/lib/python3.10/dist-packages/sklearn/utils/_array_api.py:695: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmin(X, axis=axis))
/usr/local/lib/python3.10/dist-packages/sklearn/utils/_array_api.py:712: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))